html {
    height: 100%;
}

body {
    min-height:45%;
    font-family: arial,sans-serif;
    background-color: #ffffff;
    color: #2f2f2f;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

header ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: end;
}

header li {
    display: inline;
    float: right;
    margin: auto 5px auto 8px;
    font-size: 13px;
}

header a {
    color: #2f2f2f;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header .app_box {
    background-color: rgb(255, 255, 255);
    min-height: 24px;
    width: 24px;

    display: grid;
    grid-template-columns: 6px 6px 6px;
    grid-template-rows: 6px 6px 6px;
    column-gap: 3px;
    row-gap: 3px;
    justify-items: center;
}

header .child {
    background-color: grey;
    justify-self: center;
    width: 6px;
}

header .app_box:hover .child {
    background-color: rgb(61, 61, 61);
}

header .sign_box {
    background-color: #1a73e8;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius: 7px;
}

header .sign_box:hover {
    text-decoration: underline;
}

/* Center of the page here */

.main_google{
    margin: 11em auto auto auto;
    width: 100%;
}

.search_form {
    margin: auto;
}

.search_form input {
    width: 480px;
    margin: auto;
    padding: 10px 20px 10px 40px;
    display: block;

    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px 20px;
}

.search_box {
    display: flex;
    margin: auto;
    width: 540px;

    justify-content: flex-start;
}

.search_box:hover input{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-radius: 20px 20px;
    border-color: rgba(223,225,229,0);
}

.search_icon {
    width: 20px;
    height: 20px;
    position: relative;
    left: 35px;
    top: 10px;
    margin-left: -20px;
}

.search_form input:focus {
    outline: none;
}

.search_form button {
    width:160px;
    height: 35px;
    margin: 1% 1% 0px 1%;

    background-color: #f8f9fa;
    border: none;
}

.search_form button:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    color:black;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer ul {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 45px;
    width: 100%;

    display: flex;
    justify-content: center;

    background-color:#f2f2f2;
}

footer li {
    display: inline;
    margin: auto 10px auto 10px;
    color:rgb(61, 61, 61);
}

footer a {
    color: #70757a;
    text-decoration: none;
    font-size: 15px;
}

footer a:hover {
    text-decoration: underline;
}

footer .space {
    width: 90%;
}

.wrap {
    min-width: max-content;
}